.star {
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #ffd700;
  border-radius: 50%;
  opacity: 0;
  animation: twinkle 8s infinite;
  box-shadow: 0 0 8px #ffd700, 0 0 12px #ffd700;
}

@keyframes twinkle {
  0% {
    transform: translateY(0) scale(var(--scale));
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(var(--travel-distance)) scale(var(--scale));
    opacity: 0;
  }
}
